body {
    margin:0;
    overflow-y: hidden;
    overflow-x: hidden;
}

@font-face {
    font-family: Terminal-grotesque;
    src: url(terminal-grotesque.ttf);
}

body {
    background-image: url('./media/pinkbg.jpg');
    background-size: cover;
    --lightest: #F5F5F5;
    --light: #E5E5E5;
    --mid: #D9D9D9;
    --pink: #ffe4e4;
    --shadow: #737373;
    --dark: #4C4C4C;
    --darkest: #101010;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    cursor: url("./media/heartcursor.png"), auto;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 20px;
    background-color: var(--mid);
    box-shadow: 
        2px 2px 0px var(--darkest),  /* Bottom-right shadow */
        -2px -2px 0px var(--lightest); /* Top-left highlight */
    z-index: 9999;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bottomapps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gap {
    margin-right: 15px;
}

button:hover {
    cursor: pointer;
}


.button {
    background-color: var(--mid);
    box-shadow: 
        2px 2px 0px var(--darkest),  /* Bottom-right shadow */
        -2px -2px 0px var(--lightest); /* Top-left highlight */
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex; /* Enable flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.button img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.button:hover {
    background-color: var(--light);
    box-shadow: 
        2px 2px 0px var(--shadow), 
        -2px -2px 0px var(--light);
}

.button:active {
    background-color: var(--dark); /* Pressed button effect */
    box-shadow: 
        inset 2px 2px 0px var(--darkest), /* Inset shadow on press */
        inset -2px -2px 0px var(--lightest); /* Inset highlight on press */
}


h2 {
    font-family: "Terminal-grotesque";
    font-size: 16px;
    font-weight: 100;
}

p {
    font-family: "Terminal-grotesque";
    font-size: 14px;
    font-weight: 100;
}

#clock {
    position: fixed;
    right: 0;
    font-family: "Terminal-grotesque";
    font-size: 16px;
    font-weight: 100;
    height: 20px;
    width: 90px;
    
    background-color: var(--mid);
    padding: 10px;
    box-shadow: 
        2px 2px 0px var(--darkest),  /* Bottom-right shadow */
        -2px -2px 0px var(--lightest); /* Top-left highlight */
    text-align: center;
    align-items: center; /* Center vertically */
}

.apps {
    position: fixed;
    top: 15px;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

h3 {
    font-family: "Terminal-grotesque";
    font-size: 14px;
    font-weight: 100; 
}

.apps h3 {
    margin-top: 5px;
    text-shadow:
        -1px -1px 0 #ffffff70,
        1px -1px 0 #ffffff70,
        -1px 1px 0 #ffffff70,
        1px 1px 0 #ffffff70;  
}

.apps .icon {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.apps .icon:hover {
    outline: 1px dotted #ffffff99;
    background-color: #ffffff20;
    cursor: pointer;
}
  
.apps .icon:active {
    background-color: #ffffff40;
    outline: 1px dotted white;
}

#openapps {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none !important;
}

.popup {
    background-color: var(--mid);
    display: flex;
    flex-direction: column;
    border: 1.5px solid var(--dark);
    border-radius: 2px;
    padding: 4px 4px;
    filter: drop-shadow(0px 0px 1px var(--shadow) );
    gap: 4px;
    z-index: 10; 
}

.popup h3 {
    color: var(--lightest)
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 20px;
    background: var(--dark);
    padding: 6px;
    flex-shrink: 0;
}

.header h3 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.header img {
    height: 20px;
    width: auto;
    padding-right: 5px;
}

.x-button {
    margin-left: auto;
    background-color: var(--light);
}

.content {
    flex-grow: 1; /* Fills remaining space */
    display: flex;
    flex-direction: column;
    background: var(--pink);
    overflow-x: hidden;
    min-height: 0; 
    margin: 6px;
    box-shadow: 
        inset 1.5px 1.5px 0px var(--shadow),
        inset -1.5px -1.5px 0px var(--lightest);
}

#about {
    width:400px;
    height: 300px;
    position: fixed; 
    left:5vw;
    bottom:12vh;
    line-height: 16px;
}

#about .content {
    padding-left: 15px;
    padding-right: 15px;
}

.stars {
    position: absolute;
    bottom:30px;
    right:50px;
}

.rainbow {
    position: absolute;
    bottom:100px;
    right:150px;
}

.hearts {
    position: absolute;
    bottom:10px;
    right:50px;
}

.angel {
    position: absolute;
    bottom:120px;
    right:30px; 
}

#tools {
    width:500px;
    height: 500px;
    position: fixed; 
    left:15vw;
    top: 10vh;
}

#preview {
    width: 500px;
    height: 650px;
    position: fixed; 
    left: 55vw;
    top: 5vh;
}

#preview .content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#tunes {
    width: 430px;
    height: 360px;
    position: fixed; 
    right: 5vw;
    bottom: 25vh;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.tooltabs {
    height: 40px;
    width: 100%;
    display:flex;
    flex-direction: row;
}

.tooltabs h3 {
    text-shadow:
        -1px -1px 0 #00000070,
        1px -1px 0 #00000070,
        -1px 1px 0 #00000070,
        1px 1px 0 #00000070;  
}

.tab {
    background-color: var(--mid);
    box-shadow: 
        inset 1.5px 1.5px 0px var(--shadow),
        inset -1.5px -1.5px 0px var(--lightest);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.active {
    background-color: var(--dark);
}


.background, .image, .text, .effects {
    height: 100%;
    width: 100%;
    box-shadow: 
        inset 1.5px 1.5px 0px var(--shadow),
        inset -1.5px -1.5px 0px var(--lightest);
    background-color: var(--pink);
    padding: 10px;
}

#color-picker-container {
    position: absolute;
    z-index: 100; /* Ensure it appears above other elements */
}

.image-controls {
    margin: 15px 0;
}

label {
    font-family: "Terminal-grotesque";
    font-size: 14px;
    font-weight: 100;
}

.slider-group {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.slider-group label {
    white-space: nowrap;
    display: flex;
    align-items: center; 
    gap: 5px; 
    width: 80px;
}

#image-canvas {
    margin-top: 20px;
}

#imageUpload {
    margin: 10px 0;
}

.mask-options {
    margin: 15px 0;
}

.mask-options select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}